
/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

body {
    font-family: Raleway;
}

h1 {
    font-size: 20px;
    margin-left: 40px;
}

h2 {
    font-size: 20px;
    margin-left: 40px;
}

h3 {
    font-size: 16px;
}


/* CSS HEADER */

        /* Bandeau */
#bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

#logo {
    width: 100px; 
    height: 80px;
    object-fit: contain;
    margin-left: 60px;
}

#menu {
    width: 30%;
    margin-right: 20px;
    font-weight: bold;
}

#liste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.elements {
    list-style-type: none;
    color: black;
}

a {
    color:black;
    text-decoration: none;
}

header a:hover {
    color:#0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 30px;
}

        /* Intro */
header p {
    margin-left: 40px;
    font-size: 15px;
}
  
        /* Barre de recherche */
#navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 40px;
    width: 20%;
    height: 45px;
}

#position {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 13%;
    background-color: rgb(242, 242, 242);
}

#search-input {
   font-weight: bold;
   width: 57%;
   outline: none;
   font-size: 110%;
   border-left: none;
   border-right: none;
   border-top: 1px solid rgb(242, 242, 242);
   border-bottom: 1px solid rgb(242, 242, 242);
}

#search-buton { 
    border: none;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    width: 30%;
    font-weight: bold;
    font-size: 110%;
}

        /* Filtres */
#filtre {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
    margin-left: 45px;
}

#filtre-economique {
    border: 2px solid rgb(218, 218, 218);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 180px;
    height: 45px;
}

#economique {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
    transition: 0.5s linear;
    cursor: pointer;
    font-family: Raleway;
}

#filtre-familial {
    border: 2px solid rgb(218, 218, 218);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 140px;
    height: 45px;
}

#familial {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
    transition: 0.5s linear;
    cursor: pointer;
    font-family: Raleway;
}

#filtre-romantique {
    border: 2px solid rgb(218, 218, 218);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 180px;
    height: 45px;
}

#romantique {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
    transition: 0.5s linear;
    cursor: pointer;
    font-family: Raleway;
}

#filtre-animaux {
    border: 2px solid rgb(218, 218, 218);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 230px;
    height: 45px;
}

#animaux {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s linear;
    cursor: pointer;
    font-family: Raleway; 
}

.bleu {
    color: #0065FC;  
    border: 2px solid rgb(222, 235, 255);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 235, 255);
    margin-left: -1px;
}

button:hover {
    color: #0065FC;
}

        /* Infos */

#information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

.info{ 
    color: #0065FC;
    border: 2px solid rgb(222, 235, 255);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}






/* CSS MAIN */

        /* Ensemble */
#hebergement-populaire {
    display: flex;
    justify-content: space-between;
}

        /* Sections */
#section-hebergement {
    width: 65%;
}

#section-populaire {
    width: 30%;
}

        /* Prix */
.prix {
    font-weight: bold;
}

        /* Notation */
.note-star-hebergement {
    display: flex;
    margin-top: -8px;
    margin-left: -2px;
}

.note-star-populaire {
    display: flex;
    margin-top: 30px;
}

.note-bleu {
    color: #0065FC;
}

.note-gris {
    color: rgb(217, 217, 217);
}





/* BLOCK HEBERGEMENT A MARSEILLE */

        /* Titre */
#titre-hebergement {
    margin: 0 0 30px 45px ;
    width: 30%;
    padding-top: 30px;
}

        /* Afficher plus */
#afficher {
    margin-left: 45px;
    margin-top: 30px;
    font-weight: bold;
}

        /* Gestion du block */
#hebergement { 
    background:rgb(242, 242, 242);
    width: 100%;
    height: 680px;
    border-radius: 30px;
    margin-left: 40px;
}
    
        /* Première ligne */
#first-line {
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
}

        /* Deuxième ligne */
#second-line {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

        /* Gestion des Cards */
.card-hebergement {
    width: 375px;
    height: 250px;
    border-radius: 30px;
    background: white;
}

        /* Card Image */
.card-image-hebergement {
    display: flex;
    justify-content: center;
}

.img-hebergement { 
    width: 360px;
    height: 150px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 5px;
    object-fit: cover;
}

        /* Card Texte */
.card-body-hebergement {
    margin-left: 20px;
    margin-top: -5px;
}
        
.card-info-hebergement {
    margin-top: -15px;
}
        





/* BLOCK LES PLUS POPULAIRES */

        /* Titre */
#entete {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-top: 20px;
   margin-bottom: -20px;
}

        /* Icons */
.graph {
    font-size: 25px;
    margin-right: 40px;
}

        /* Gestion du Block */
#populaire {
    background:rgb(242, 242, 242);
    width: 100%;
    height: 680px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

        /* Gestion des cards */
.card-populaire {
    width: 90%;
    border-radius: 30px;
    background: white;
    margin-top: 20px;
    margin-left: 5px;  
}

.ensemble-populaire {
    display: flex;
    flex-direction: row;
}

        /* Card Image */
.card-image-populaire {
    margin-left: 5px;
}

.img-populaire { 
    width: 160px;
    height: 140px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 5px;
    object-fit: cover;
}

        /* Card Texte */
.card-body-populaire {
    margin-left: 25px;
    width: 50%;
}

.card-info-populaire {
    margin-top: -15px;
}





/* BLOCK ACTIVITES A MARSEILLE */

        /* Ensemble */
#activite {
    width: 98%;
    height: 600px;
    margin-left: 40px;   
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

        /* Titre */
#activity-title {
    height: 50px;
    width: 100%;
    margin-left: -30px;
}

        /* Colonne */
#activity-column {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

        /* Texte */
.activity-text {
    margin-left: 20px;
    margin-block-start: 0;
    margin-top: 10px;
}

    /* PREMIERE ET TROISIEME COLONNE */
#first-colonne {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 6px 5px rgb(242, 242, 242) ;
    width: 400px;
    height: 520px;
}

#third-colonne {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 6px 5px rgb(242, 242, 242) ;
    width: 400px;
    height: 520px;
}

.grande-img {
    width: 400px;
    height: 470px;
    object-fit: cover;
    border-radius: 30px;
}

    /* DEUXIEME COLONNE */
#second-colonne {
    background: white;
    border-radius: 30px;
    width: 400px;
    height: 500px;
}

        /* Haut */
#second-top {
    width: 400px; 
    height: 290px;
    border-radius: 30px;
    box-shadow: 0px 6px 5px rgb(242, 242, 242) ;
}

#img-top-second {
    width: 400px;
    height: 240px;
    object-fit: cover;
    border-radius: 30px;
}

        /* Bas */
#second-bottom {
    width: 400px;
    height: 200px;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 0px 6px 5px rgb(242, 242, 242) ;
}

#img-bottom-second {
    width: 400px;
    height: 150px;
    object-fit: cover;
    border-radius: 30px;
}

    /* QUATRIEME COLONNE */
#fourth-colonne {
    background: white;
    border-radius: 30px;
    width: 400px;
    height: 500px;
}

        /* Haut */
#fourth-top {
    width: 400px;
    height: 230px;
    border-radius: 30px;
    box-shadow: 0px 6px 5px rgb(242, 242, 242);
}

#img-top-fourth {
    width: 400px;
    height: 180px;
    object-fit: cover;
    border-radius: 30px;
}

        /* Bas */
#fourth-bottom {
    width: 400px;
    height: 260px;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 0px 6px 5px rgb(242, 242, 242);
}

#img-bottom-fourth {
    width: 400px;
    height: 210px;
    object-fit: cover;
    border-radius: 30px;
}






/* CSS FOOTER */
#renseignements {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 300px;
    margin-top: 40px;
    background: rgb(242, 242, 242);
}

.block-renseignements {
    display: flex;
    flex-direction: column;
}

footer a {
    margin-top: 20px;
}

    /* A PROPOS */
#footer-propos { 
    display: flex;
    flex-direction: column;
    margin-right: 300px;
    margin-left: 40px;
    margin-top: 40px;
}

    /* NOS HEBERGEMENTS */
#footer-hebergement {
    display: flex;
    flex-direction: column;
    margin-right: 300px;
    margin-top: 40px;
}

    /* ASSISTANCE */
#footer-assistance {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}


