@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* CSS HEADER */
#header {
    border : 1px solid black;
}

#bandeau{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

#logo {
    width: 120px; 
    height: 100px;
    object-fit: contain;
    margin-left: 20px;
}

#menu {
    width: 30%;
    margin-right: 20px;
    font-family: Raleway;
    font-weight: bold;
}

#liste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.elements {
    list-style-type: none;
    color: black;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color:#0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 30px;
}

/* CSS BANDEAU */
  
