@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

body {
    font-family: Raleway;
}

h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 40px;
}

h2 {
    font-size: 16px;
    font-weight: 1500;
}

/* CSS HEADER */
/* BANDEAU */

#bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

#logo {
    width: 100px; 
    height: 80px;
    object-fit: contain;
    margin-left: 60px;
}

#menu {
    width: 30%;
    margin-right: 20px;
    font-weight: bold;
}

#liste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.elements {
    list-style-type: none;
    color: black;
}

a {
    color:black;
    text-decoration: none;
}

header a:hover {
    color:#0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 30px;
}

/* INTRO */

header p {
    margin-left: 40px;
    font-size: 15px;
}
  
/* BARRE DE RECHERCHE */

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 40px;
    width: 20%;
    height: 45px;
}

#position {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 13%;
    background-color: rgb(242, 242, 242);
}

#search-input {
   font-weight: bold;
   width: 57%;
   outline: none;
   font-size: 110%;
   border-left: none;
   border-right: none;
   border-top: 1px solid rgb(242, 242, 242);
   border-bottom: 1px solid rgb(242, 242, 242);
}

#search-buton { 
    border: none;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    width: 30%;
    font-weight: bold;
    font-size: 110%;
}

/* FILTRES */

#filtre {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
    margin-left: 45px;
}

#filtre-economique {
    border: 2px solid rgb(218, 218, 218);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 180px;
    height: 45px;
}

#economique {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

#filtre-familial {
    border: 2px solid rgb(218, 218, 218);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 140px;
    height: 45px;
}

#familial {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

#filtre-romantique {
    border: 2px solid rgb(218, 218, 218);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 180px;
    height: 45px;
}

#romantique {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

#filtre-animaux {
    border: 2px solid rgb(218, 218, 218);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 230px;
    height: 45px;
}

#animaux {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
}

.bleu {
    color: #0065FC;  
    border: 2px solid rgb(222, 235, 255);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 235, 255);
    margin-left: -1px;
}

/* INFOS */

#information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

.info{ 
    color: #0065FC;
    border: 2px solid rgb(222, 235, 255);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

/* CSS MAIN */

#hebergement-populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#section-hebergement {
    width: 65%;
    height: 100%;
}

#section-populaire {
    width: 30%;
    height: 100%;
}

.prix {
    font-weight: bold;
}

/* BLOCK HEBERGEMENT A MARSEILLE */

main h1 {
    margin-left: 50px;
}

main h2{
    margin-left: 45px;
    margin-top: 20px;
}

#hebergement { 
    background:rgb(242, 242, 242);
    width: 100%;
    height: 650px;
    border-radius: 30px;
    margin-left: 40px;
    border: 1px solid black;
}

#first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
.card-hebergement {
    width: 375px;
    height: 250px;
    border-radius: 30px;
    background: white;
}

.card-image-hebergement {
    display: flex;
    justify-content: center;
}

.img-hebergement { 
    width: 360px;
    height: 150px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 5px;
    object-fit: cover;
}

.card-body-hebergement {
    margin-left: 20px;
    margin-top: -10px;
}

.card-title-hebergement {
    font-weight: bold;
}

.card-info-hebergement {
    margin-top: -15px;
}


/* BLOCK LES PLUS POPULAIRES */

#entete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-left: -100px;
}

#populaire {
    background:rgb(242, 242, 242);
    width: 100%;
    height: 650px;
    border-radius: 30px;
    border: 1px solid black;
}

.ensemble-populaire {
    display: flex;
    flex-direction: row;
}
.card-populaire {
    width: 95%;
    border-radius: 30px;
    background: white;
    margin-top: 20px;
    margin-left: 15px;
    border: 1px solid black ;   
}

.card-image-populaire {
    width: 60%;
    margin-left: 5px;
    border: 1px solid black ;
}

.img-populaire { 
    width: 160px;
    height: 140px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 5px;
    object-fit: cover;
    border: 1px solid black ;
}

.card-body-populaire {
    border: 1px solid black ;
}

.card-title-populaire {
    font-weight: bold;
    margin-top: -15px;
}

.card-info-populaire {
    margin-top: -15px;
}